In [1]:
import math

Null Hypothesis = Assumes that there is no effect or difference, That the mean systolic blood pressure of the sample is equal to that of the general population

Alternative Hypotheses = That the mean systolic blood pressure of the sample is not equal to that of the general population and not by chance.

In [3]:
sample_mean = 130.1
sample_std = 21.21
pop_mean = 120
n = 100

statistic = (sample_mean - pop_mean)/(sample_std/math.sqrt(n))
statistic

4.761904761904759

- With a z_score of 4.76 we can easily say that we can reject our null hypothesis. The result suggests that the sample mean is significantly different from the population mean and is unlikly to be due to random chance

# T-test and P-value

H0 = That the new machine is the same speed as the old machine.
H1 = that the new machine is faster than the old machine

In [4]:
from scipy.stats import ttest_ind, norm
import numpy as np
import pandas as pd

In [25]:

import chardet


with open('files_for_lab/machine.txt', 'rb') as file:
    result = chardet.detect(file.read())

df = pd.read_csv('files_for_lab/machine.txt', encoding=result['encoding'], delimiter='\t')

df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [36]:
new_machine_mean = np.mean(df['New machine'])
old_machine_mean = np.mean(df['    Old machine'])

print(f'The mean speed of the new machine is {new_machine_mean} compared to the old machine of {old_machine_mean}')

The mean speed of the new machine is 42.14 compared to the old machine of 43.230000000000004

In [37]:
ttest = ttest_ind(df['New machine'], df['    Old machine'])
ttest

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)

With a pvalue of 0.0032111425007745158 we can safely say we can rejct the null hypothesis.